{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<h2 class="mb-4 fw-bold">Customer Records</h2>


<form method="GET" style="
    background:#f8fafc;
    padding:12px;
    border-radius:10px;
    margin-bottom:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
">
  <div class="row g-2">
    <div class="col-md-10">
      <input type="text"
             name="search"
             value="{{ search_query }}"
             class="form-control"
             placeholder="Search name, email, phone, city, state, pincode, address">
    </div>

    <div class="col-md-2 d-grid">
      <button class="btn btn-dark">Search</button>
    </div>
  </div>
</form>


<div style="overflow-x:auto;">
<table class="table table-hover table-bordered align-middle"
       style="border-radius:12px;overflow:hidden;">
  <thead class="table-dark">
    <tr>
      <th>Name</th><th>Email</th><th>Phone</th><th>Address</th>
      <th>City</th><th>State</th><th>Pincode</th><th>Created</th><th>ID</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td class="fw-semibold">{{ record.first_name }} {{ record.last_name }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.city }}</td>
      <td>{{ record.state }}</td>
      <td>{{ record.pincode }}</td>
      <td>{{ record.created_at }}</td>
      <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="9" class="text-center fw-semibold">
        No records found
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-3">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
          Previous
        </a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
          Next
        </a>
      </li>
    {% endif %}

  </ul>
</nav>

{% else %}

<div class="col-md-5 mx-auto">
  <h2 class="fw-bold mb-3 text-center">Login</h2>

  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <input class="form-control mb-3" name="username" placeholder="Username" required>
    <input class="form-control mb-3" name="password" type="password" placeholder="Password" required>
    <button class="btn btn-dark w-100">Login</button>
  </form>
</div>

{% endif %}
{% endblock %}
