{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 mx-auto">
  <div style="
      background:#ffffff;
      border-radius:18px;
      box-shadow:0 12px 30px rgba(0,0,0,0.25);
      padding:30px;
  ">

    <h3 style="
        text-align:center;
        font-weight:700;
        margin-bottom:10px;
        color:#7c2d12;
    ">
      ✏️ Update Record
    </h3>

    <p style="
        text-align:center;
        font-size:14px;
        color:#6b7280;
        margin-bottom:20px;
    ">
      Updating will replace the existing data
    </p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit" style="
          width:100%;
          margin-top:20px;
          background:#c2410c;
          color:white;
          border:none;
          padding:12px;
          border-radius:10px;
          font-weight:600;
      ">
        Update Record
      </button>
    </form>

    <a href="{% url 'home' %}" style="
        display:block;
        text-align:center;
        margin-top:15px;
        text-decoration:none;
        color:#c2410c;
        font-weight:500;
    ">
      Cancel & Go Back
    </a>

  </div>
</div>

{% endblock %}
